.headder{
    font-style: italic;
    background-color: black;
    color: antiquewhite;
    text-align: left;
    
}

body{
    margin: 0 auto;
    background-color: antiquewhite;
}

p{
    margin: 20px;
    text-align: left;
    
}

a:link{
    color: black;
    text-decoration:none;
}

a:visited{
    color:rgb(33, 55, 198);
    text-decoration:none;
}

a:hover{
    color: rgb(213, 60, 60);
    text-decoration: underline;
}

ul{
    list-style: circle;
}